$primary-color: blue;
$secondary-color: orange;
$terciary_color: rgb(199, 203, 245);
$four_color: orangered;

@mixin generaciones{
    background-size: cover;
    background-position: center;
}
/*Index htlm*/
.fondo-nav {
    background-color: $primary-color;
}

.jumbotron {
    background-image: url(../Imagenes/Volkswagencoloridos.jpg);
    background-size: cover;
    background-position: center;
    height: 450px;
    color: $secondary-color;
    font-size: 60px;
    text-decoration: solid;
    border-radius: 0;
    margin-bottom: 0;
}

.jumbotron p {
    font-size: 40px;
    color: $secondary-color;
}

.jumbotron h1 {
    font-size: 60px;
}

h2 {
    text-align: center;
    background-color: $terciary_color;
    color: $primary-color;
    text-transform: capitalize;
    padding: 15px;
    font-size: 35px;
    margin-bottom: 0;
}
h4{
    text-align: center;
    background-color: $terciary_color;
    color: $primary-color;
    text-transform: capitalize;
    padding: 25px;
    margin: 0;
}
.nosotros {
    height: 500px;
    width: 100%;
    font-size: 60px;
    background-color: lightslategrey;
}

.row {
    height: 500px;
}

.nleft {
    background-color: aqua;
    background-image: url(../Imagenes/primerageneracionn.jpg);
    @include generaciones()
}

.ncenter {
    background-color: antiquewhite;
    background-image: url(../Imagenes/segundageneracionn.jpg);
    @include generaciones()
}

.nright {
    background-color: cornflowerblue;
    background-image: url(../Imagenes/tercerageneracion.jpg);
    @include generaciones()
}

h3 {
    color: $four_color;
    font-size: 50px;
    text-align: center;
}

.textg {
    color: $four_color;
    font-size: 15px;
    text-align: center;
}

.p_envios {
    text-align: center;
    background-color: $terciary_color;
    margin-bottom: 0;
    font-size: 30px;
    color: rgb(38, 94, 192);
    padding: 20px;
}

/*Footer*/
.footer {
    color: black;
    height: 160px;
    background-color: $primary-color;
    text-align: center;
    padding: 22px;
    min-height: 90px;
}

.footer p {
    font-size: 23px;
    text-transform: capitalize;
}

.footer a {
    color: black;
}

.footer a :hover {
    color: brown;
}

.footer i {
    font-size: 40px;
    letter-spacing: 23px;
}

/*Conductores html*/
/*Cards*/
.h1conductores {
    color: blue;
    background-color: rgb(199, 203, 245);
    text-align: center;
    padding: 25px;
}

.card-img-top {
    background-size: cover;
    background-position: center;
}

